################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/EventManager/bin/Debug
/.vs/EventManager
/packages/StyleCop.Analyzers.1.1.118
/EventManager/obj/Debug
/.vs
/EventManager/obj/Release
